@keyframes load {
	0% {
		background-image: url(../images/sun_logo.png);
	}

	100% {
		background-image: url(../images/sun_logo.png);
	}
}

@keyframes hover {
	0% {
		background-image: url(../images/sun_logo.png);
	}

	100% {
		background-image: url(../images/sun_logo.png);
	}
}
a#logo:hover:before {
	animation-name: hover;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 13s;
}
a#logo:before {
	background-image: url(../images/kaltura-logo-38-38_02.gif);
	background-size: contain;
	animation-name: load;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 13s;
	width: 26px;
	height: 26px;
	content: " ";
	position: absolute;
	left: -32px;
	top: 0px;
}
a#logo {
	z-index: 1;
	background: url("../images/VPaaS-logo-text.png") no-repeat;
	background-size: contain;
	padding: 0;
	margin: 0;
	float: left;
	left: 40px;
	top: 20px;
	margin-right: 60px;
}
a #logoimg {
	height: 26px;
	visibility: hidden;
}
