  <div class="w-section footer-section">
    <div class="w-container container footer-container">
      <div class="w-row">
        <div class="w-col w-col-3 footer-links-columns">
          <h5 class="footer-headings">VPaaS</h5><a class="footer-links" href="https://vpaas.kaltura.com">Overview</a><a class="footer-links" href="https://developer.kaltura.com/api-docs/#/Overview">API</a><a data-ix="scroll-to-apply" class="footer-links" href="https://vpaas.kaltura.com/#case_study_section" id="case_study_link">Case Studies</a><a class="footer-links" href="/register.html">Register for a Free Trial</a>
        </div>
        <div class="w-col w-col-3 footer-links-columns">
          <h5 class="footer-headings">Tools</h5><a class="footer-links" href="https://developer.kaltura.com/console">API Test Console</a><a class="footer-links" href="https://developer.kaltura.com/api-docs/#/Client%20Libraries">Client Libraries</a><a class="footer-links" href="https://developer.kaltura.com/api-docs/#/Client%20Libraries">iOS &amp; Android Mobile SDKs</a><a class="footer-links" href="https://developer.kaltura.com/recipes/">Interactive Code Recipes</a><a class="footer-links" href="https://vpaas.kaltura.com/documentation/04_Web-Video-Player/">Player Toolkit</a><a class="footer-links" href="https://github.com/kaltura" target="_blank">Kaltura on Github</a><a class="footer-links" href="https://stackoverflow.com/questions/tagged/kaltura" target="_blank">Kaltura on Stack Overflow</a>
        </div>
        <div class="w-col w-col-3 footer-links-columns">
          <h5 class="footer-headings">Resources</h5><a class="footer-links" href="https://developer.kaltura.com/api-docs/">API Documentation</a><a class="footer-links" href="https://knowledge.kaltura.com" target="_blank">Knowledge Center</a><a class="footer-links" href="https://university.kaltura.com" target="_blank">Kaltura University</a><a class="footer-links" href="https://corp.kaltura.com/live-webinars" target="_blank">Webinars</a><a class="footer-links" href="http://videos.kaltura.com" target="_blank">Kaltura Video Tutorials</a>
        </div>
        <div class="w-col w-col-3 footer-links-columns">
          <h5 class="footer-headings">Community</h5><a class="footer-links" href="/partners">Partner Network</a><a class="footer-links" href="https://forum.kaltura.org" target="_blank">Forums</a><!--a class="footer-links" href="#" target="_blank">Kaltura Developer Days</a--><a class="footer-links" href="https://corp.kaltura.com/kaltura-events" target="_blank">Meet Kaltura at Events</a><a class="footer-links" href="https://blog.kaltura.com">Blog</a>
          <h5 class="footer-headings footer-heading-margin">Open Source</h5><a class="footer-links" href="https://www.kaltura.org/" target="_blank">opensource.kaltura.org</a>
        </div>
      </div>
      <div class="social-icon-container">
        <a href="https://stackoverflow.com/questions/tagged/kaltura" target="_blank"><div class="social-div fa-stack-overflow fa fa-2x"></div></a>
        <a href="https://github.com/kaltura" target="_blank"><div class="social-div fa-github fa fa-2x"></div></a>
        <a href="https://twitter.com/Kaltura" target="_blank"><div class="social-div fa fa-twitter fa-2x"></div></a>
        <a href="https://www.linkedin.com/company/kaltura" target="_blank"><div class="social-div fa fa-linkedin fa-2x"></div></a>
      </div>
    </div>
    <div class="w-container copyright-container">
      <div class="w-row">
        <div class="w-col w-col-8 w-col-medium-6 copyright-column">
          <div class="footer-copyright">Copyright © {{ site.time | date: '%Y' }} Kaltura Inc.</div>
          <div class="footer-copyright-description">All Rights Reserved. Designated trademarks and brands are the property of their respective owners.
            <br>Use of this web site constitutes acceptance of the Terms of Use and Privacy Policy.</div>
        </div>
        <div class="w-col w-col-4 w-col-medium-6 footer-last-links-column"><a class="sub-footer-links" target="_blank" href="https://corp.kaltura.com">Kaltura.com</a><a class="sub-footer-links" href="{{ site.url }}/sitemap.xml" target="_blank">Sitemap</a><a class="sub-footer-links" target="_blank" href="https://corp.kaltura.com/About-Kaltura">About</a>
        </div>
      </div>
    </div>
  </div>
