<!--link rel="stylesheet" type="text/css" href="{{ site.url }}/css/normalize.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/webflow.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/kaltura-dev-site.webflow.css">
  <script type="text/javascript" src="https://use.typekit.net/rlx4cjm.js"></script-->
  <script type="text/javascript">
    try{Typekit.load();}catch(e){}
  </script>
  <!--script type="text/javascript" src="{{ site.url }}/js/modernizr.js"></script-->
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container nav-container">
      <a class="w-nav-brand nav-logo" href="{{site.url}}"><img class="nav-logo-img" width="170" src="{{ site.baseurl }}/assets/kaltura_dev.png"></a>
<nav class="w-nav-menu w-clearfix nav-menu-wrapper" role="navigation">
        {% for my_header in site.pages %}
	{% if my_header.type == "header" %}
          {% if my_header.title %}
		<a class="w-nav-link nav-links first-nav-link" href="{{ my_header.url | prepend: site.url }}">{{ my_header.title }}</a>
          {% endif %}
        {% endif %}
        {% endfor %}
    </nav>
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu menu-button-icon"></div>
      </div>
    </div>
  </div>
</header>
