<!-- link rel="stylesheet" type="text/css" href="{{ site.url }}/css/normalize.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/webflow.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/kaltura-dev-site.webflow.css">
  <script type="text/javascript" src="https://use.typekit.net/rlx4cjm.js"></script-->
  <script type="text/javascript">
    try{Typekit.load();}catch(e){}
  </script>
  <!--script type="text/javascript" src="{{ site.url }}/js/modernizr.js"></script>
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"-->
  

  <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
    <div class="w-container nav-container">
      <a href="{{site.url}}" id="logo" class="w-nav-brand nav-logo"><img id="logoimg" width="170" src="{{site.url}}/images/VPaaS-logo-full.png" class="nav-logo-img">
      </a>
      <nav role="navigation" class="w-nav-menu w-clearfix nav-menu-wrapper">
        <div data-delay="0" class="w-dropdown dropdown-wrapper">
          <div class="w-dropdown-toggle nav-dropdown">
            <div>Tools</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list nav-dropdown-list">
            <a href="https://developer.kaltura.com/recipes/" class="w-dropdown-link dropdown-link">Interactive Workflows</a>
            <a href="https://developer.kaltura.com/api-docs/#/Client%20Libraries" class="w-dropdown-link dropdown-link">Client Libraries</a>
            <a href="https://vpaas.kaltura.com/documentation/05_Mobile-Video-Player-SDKs/Introduction.html" class="w-dropdown-link dropdown-link">iOS/Android SDKs</a>
            <a href="https://developer.kaltura.com/console" class="w-dropdown-link dropdown-link">API Console</a>
          </nav>
        </div>
        <div data-delay="0" class="w-dropdown dropdown-wrapper">
          <div class="w-dropdown-toggle nav-dropdown">
            <div>Resources</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list nav-dropdown-list">
            <a href="https://vpaas.kaltura.com/documentation/01_VPaaS-API-Getting-Started/Getting-Started-VPaaS-API.html" class="w-dropdown-link dropdown-link">Developer Guides</a>
            <a href="https://developer.kaltura.com/api-docs/" class="w-dropdown-link dropdown-link">API Docs</a>
            <a href="https://university.kaltura.com" class="w-dropdown-link dropdown-link" target="_blank">Kaltura University</a>
            <a href="https://knowledge.kaltura.com" class="w-dropdown-link dropdown-link" target="_blank">Knowledge Center</a>
            <a href="https://blog.kaltura.com/" class="w-dropdown-link dropdown-link" target="_blank">Kaltura Blog</a>
            <a href="http://videos.kaltura.com/" class="w-dropdown-link dropdown-link" target="_blank">Videos.Kaltura.com</a>
            <a href="http://corp.kaltura.com/live-webinars" class="w-dropdown-link dropdown-link" target="_blank">Webinars</a>
            <a href="http://www.kaltura.org/" class="w-dropdown-link dropdown-link" target="_blank">opensource.kaltura.org</a>
          </nav>
        </div>
        <a href="/pricing" class="w-nav-link nav-links">Pricing</a>
        <div data-delay="0" class="w-dropdown dropdown-wrapper">
          <div class="w-dropdown-toggle nav-dropdown">
            <div>Community</div>
            <div class="w-icon-dropdown-toggle"></div>
          </div>
          <nav class="w-dropdown-list nav-dropdown-list">
            <!--a href="/kaltura-start" class="w-dropdown-link dropdown-link" target="_blank">Kaltura Start</a-->
            <a href="/partners" class="w-dropdown-link dropdown-link">Partner Network</a>
            <a href="https://forum.kaltura.org" class="w-dropdown-link dropdown-link" target="_blank">Community Forums</a>
            <a href="https://github.com/kaltura" class="w-dropdown-link dropdown-link" target="_blank">Kaltura on GitHub</a>
            <a href="http://stackoverflow.com/questions/tagged/kaltura" class="w-dropdown-link dropdown-link" target="_blank">Kaltura Stackoverflow</a>
            <a href="http://corp.kaltura.com/kaltura-events" class="w-dropdown-link dropdown-link" target="_blank">Meet Kalturians</a>
          </nav>
        </div>

        <a href="/register" class="nav-links nav-sign-up">Sign Up</a>

        <a href="#" data-ix="search-button" class="w-nav-link w-hidden-medium w-hidden-small w-hidden-tiny search-btn fa fa-search fa-lg"></a>
        <a href="#" data-ix="close-search" class="w-nav-link w-hidden-medium w-hidden-small w-hidden-tiny search-close fa fa-times fa-lg"></a>
        <div data-ix="search-input-hide-on-load" class="w-embed search-input">
          <input type="text" id="st-search-input" placeholder="Search" class="st-default-search-input search-box placeholder" autocomplete="on">
        </div>
      </nav>
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu menu-button-icon"></div>
      </div>
    </div>
  </div>
