---
layout: default
---
  <!--link rel="stylesheet" href="{{ site.baseurl }}/site.css"-->
<article>

<div class="w-section side-nav-section">
    <div class="w-container">
      <div class="w-row body-columns">
        <div class="w-col w-col-3 template-page-nav-column">
          <div class="sidenav-grp-1">
            <h4 data-ix="grp-1-open-close" class="sidenav-headings grp-1-heading">VPaaS APIs</h4>
            <div data-ix="hide-on-load" class="grp-1-links"><a href="#" data-ix="hide-on-load" class="sidenav-links">Authentication</a><a href="#" class="sidenav-links">Media Ingestion</a><a href="#" class="sidenav-links">Categories</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a>
            </div>
          </div>
          <div class="sidenav-grp-2">
            <h4 data-ix="grp-2-open-close" class="sidenav-headings grp-2-heading">Video Player</h4>
            <div data-ix="hide-on-load" class="grp-2-links"><a href="#" data-ix="hide-on-load" class="sidenav-links">Authentication</a><a href="#" class="sidenav-links">Media Ingestion</a><a href="#" class="sidenav-links">Categories</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a>
            </div>
          </div>
          <div class="sidenav-grp-3">
            <h4 data-ix="grp-3-open-close" class="sidenav-headings grp-3-heading">Media Management</h4>
            <div data-ix="hide-on-load" class="grp-3-links"><a href="#" data-ix="hide-on-load" class="sidenav-links">Authentication</a><a href="#" class="sidenav-links">Media Ingestion</a><a href="#" class="sidenav-links">Categories</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a>
            </div>
          </div>
          <div class="sidenav-grp-4">
            <h4 data-ix="grp-4-open-close" class="sidenav-headings grp-4-heading">Live</h4>
            <div data-ix="hide-on-load" class="grp-4-links"><a href="#" data-ix="hide-on-load" class="sidenav-links">Authentication</a><a href="#" class="sidenav-links">Media Ingestion</a><a href="#" class="sidenav-links">Categories</a><a href="#" class="sidenav-links">Entitlements</a>
            </div>
          </div>
          <div class="sidenav-grp-5">
            <h4 data-ix="grp-5-open-close" class="sidenav-headings grp-5-heading">Video Analytics</h4>
            <div data-ix="hide-on-load" class="grp-5-links"><a href="#" data-ix="hide-on-load" class="sidenav-links">Authentication</a><a href="#" class="sidenav-links">Media Ingestion</a><a href="#" class="sidenav-links">Categories</a><a href="#" class="sidenav-links">Entitlements</a>
            </div>
          </div>
          <div class="sidenav-grp-6">
            <h4 data-ix="grp-6-open-close" class="sidenav-headings grp-6-heading">Monetization</h4>
            <div data-ix="hide-on-load" class="grp-6-links"><a href="#" data-ix="hide-on-load" class="sidenav-links">Authentication</a><a href="#" class="sidenav-links">Media Ingestion</a><a href="#" class="sidenav-links">Categories</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a>
            </div>
          </div>
          <div class="sidenav-grp-7">
            <h4 data-ix="grp-7-open-close" class="sidenav-headings grp-7-heading">Mobile Video</h4>
            <div data-ix="hide-on-load" class="grp-7-links"><a href="#" data-ix="hide-on-load" class="sidenav-links">Authentication</a><a href="#" class="sidenav-links">Media Ingestion</a><a href="#" class="sidenav-links">Categories</a><a href="#" class="sidenav-links">Entitlements</a><a href="#" class="sidenav-links">Entitlements</a>
            </div>
          </div>
        </div>
        <div class="w-col w-col-9 template-page-content-column">
          <div class="post-header">

            <!-- INSERT JEKYLL CONTENT HERE -->

          	<header class="post-header">
    			<h1 class="post-title">{{ page.title }}</h1>
  			</header>

			{% if page.git %}
			
			<table class="lastcommittable">

				<!--tr><td>Created on: {{ page.git.first_commit.commit_date }}, By: {{ page.git.first_commit.author_name }}</td></tr-->
				<tr><td>Last commit: {{ page.git.last_commit.commit_date }}, By: <span class="commit-author">{{ page.git.last_commit.author_name }}</span></td></tr>
			
				<!-- {% for contrib in page.git.authors %}
				
				<tr>
					<td>{{ contrib.name }} ({{ contrib.commits }} commits) (<a href="mailto:{{ contrib.email }}">{{ contrib.email }}</a>)</td>
				</tr> -->

				<!-- {% endfor %} -->

			</table>

			<a class="editgithub" href="{{ page.git.github_url }}" target="_blank">Edit on Github</a>

			{% endif %}

		</div>

            <div class="post-content">
    		
    		{{ content }}

				<div class="social-bug-wrapper"> <!-- take this out of .post content -->
            		<div class="w-embed social-embed"><span class="st_facebook_large" displaytext="Facebook"></span>
              		<span class="st_twitter_large" displaytext="Tweet"></span>
              		<span class="st_linkedin_large" displaytext="LinkedIn"></span>
              		<span class="st_email_large" displaytext="Email"></span>
            	</div>
            	<div class="bug-button-wrapper"><a href="#" data-ix="bug-report-form-show-hide" class="w-button standard-button">Report an Issue</a></div>

          		<div data-ix="bug-form-hide-on-page-load" class="bug-form-wrapper">
            		<div class="w-form form-wrapper">
              			<form id="email-form" name="email-form" data-name="Email Form" class="report-issue-form">
                			<label for="name" class="form-labels">Name</label>
                			<input id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" required="required" class="w-input form-fields">
                			<label for="email" class="form-labels">Email Address</label>
                			<input id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required" class="w-input form-fields">
                			<label for="Issue-Description" class="form-labels">Issue Description</label>
                			<textarea id="Issue-Description" placeholder="Describe the issue in as much detail as possible" name="Issue-Description" data-name="Issue Description" required="required" class="w-input form-fields"></textarea>
                			<input type="submit" value="Submit" data-wait="Please wait..." class="w-button standard-button">
              			</form>
              			<div class="w-form-done">
                			<p>Thank you! Your submission has been received!</p>
             			</div>
              			<div class="w-form-fail">
                			<p>Oops! Something went wrong while submitting the form</p>
              			</div>
            		</div>
  				</div>
  			</div>
  		</div>
  	</div>
</article>
