---
layout: default
---
  <link rel="stylesheet" href="{{ site.baseurl }}/site.css">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

<a href="{{ page.git.github_url }}" target="_blank">Edit on Github</a>
<table>
<tr><td>Created on: {{ page.git.first_commit.commit_date }}, By: {{ page.git.first_commit.author_name }}</td></tr>
<tr><td>Last commit: {{ page.git.last_commit.commit_date }}, By: {{ page.git.last_commit.author_name }}</td></tr>
page.git.authors
{% for contrib in page.git.authors %}
<tr>
<td>{{ contrib.name }} ({{ contrib.commits }} commits) (<a href="mailto:{{ contrib.email }}">{{ contrib.email }}</a>)</td>
</tr>
{% endfor %}
</table>
  <div class="post-content">
    {{ content }}
  </div>

</article>
